<?xml version='1.0' encoding='utf-8'?>
<settings>
  <run_mode>fixed source</run_mode>
  <particles>100</particles>
  <batches>2</batches>
  <source strength="5e+17">
    <space origin="0 0 0" type="cylindrical">
      <r interpolation="linear-linear" type="tabular">
        <parameters>0 50 100 1</parameters>
      </r>
      <phi parameters="1.56 1.6" type="uniform" />
      <z interpolation="linear-linear" type="tabular">
        <parameters>-100 -80 -60 -58 -40 -20 0 20 40 58 60 80 100 0 0.01 2 26 6 4 3 4 6 26 2 0.01 0</parameters>
      </z>
    </space>
    <angle type="isotropic" />
    <energy type="discrete">
      <parameters>14100000 1</parameters>
    </energy>
  </source>
  <mesh id="1" library="libmesh" type="unstructured">
    <filename>scaled_FromEdgarX100Final.e</filename>
  </mesh>
</settings>
